*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

$font: "Cabinet Grotesk", sans-serif;

$bgColor: #f78764;
$textColor: #5e0b15;
$spanBarColor: #053c5e;

$notSetColor: #e6ebe0;

body {
  width: 100vw;
  height: 100vh;
  background-color: $bgColor;

  overflow-x: hidden;

  .headPage {
    width: 99%;
    height: 170%;

    position: relative;
    // left: 5px;

    &::-webkit-scrollbar {
      display: none;
    }


    background-color: $bgColor;

    border-radius: 50%;

    transform: translateY(150vh);
    
    // position: relative;
    // right: 20px;

    display: flex;
    overflow-x: hidden;

    &.comesUp {
      animation: goesUp 0.5s ease-in-out forwards;
    }

    // animate the transition between the landing page and this page
    @keyframes goesUp {
      from {
      }
      to {
        transform: translateY(0px);
      }
    }
    // animate the transition end

    .line {
      min-width: 10px;
      height: 150%;
      border-left: 2px solid $spanBarColor;

      &.colored {
        background-color: $spanBarColor;
      }
    }

    .texts {

      z-index: 150;

      background-color: $spanBarColor;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: 150vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .card {
        width: 1000px;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;

        transform: translate(-50%, -50%);
        p {
          text-align: center;
          font-size: 64px;
          color: $bgColor;
          font-family: $font;
          font-weight: 200;
        }
      }
    }

    .cta {
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 80px;
      font-family: $font;
      color: $spanBarColor  ;
    }
  }
}
