*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

$font: "Cabinet Grotesk", sans-serif;

$bgColor: #f78764;
$textColor: #5e0b15;
$spanBarColor: #053c5e;

$notSetColor: #e6ebe0;

body {
  width: 100vw;
  height: 100vh;
  background-color: $bgColor;

  overflow-x: hidden;

  // display: flex;
  // align-items: center;
  // justify-content: center;

  .headPage {
    width: 100%;
    height: 100%;
    
    background-color: $bgColor;

    transform: translateY(50vh);

    display: flex;
    overflow-x: hidden;

    
    // &.comesUp {
    //     animation: goesUp 0.5s ease-in-out forwards 2000ms;
    // }

    // animate the transition between the landing page and this page
    @keyframes goesUp {
        from {
            
        }to {
            transform: translateY(0px);
        }
    }
    // animate the transition end 


    .line {
        min-width: 10px;
        // margin-right: 20px;
        //   box-shadow: inset 5px 5px 5px;
        height: 100%;
        border-left: 1px solid $spanBarColor;
        
        &.colored {
          background-color: $textColor;
      }

      
    }

    .card {

        width: 1000px;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;

        transform: translate(-50%, -50%);
        p {
            text-align: center;
            font-size: 64px;
            color: $textColor;
            font-family: $font;
            font-weight: 200;
        }
    }
  }
}
