*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

$font: "Cabinet Grotesk", sans-serif;

$btnColor: #053c5e;
$bgColor: #e6ebe0;
$textColor: #5e0b15;
$spanBarColor: #053c5e;

body {
  background-color: $bgColor;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

main {
  .appearCard {
    display: flex;
    align-items: center;
    justify-content: center;

    border-left: 5px solid $spanBarColor;

    overflow: hidden;

    height: 0px;

    transition: height 0.5s ease-in-out;

    // animation card ---------------------
    &.loaded {
      height: 340px !important;

      // responsive loaded ------------------
      @media (max-width: 590px) {
        height: 275px !important;
      }

      @media (max-width: 430px) {
        height: 230px !important;
      }

      @media (max-height: 530px) {
        height: 280px !important;
      }

      @media (max-height: 475px) {
        height: 250px !important;
      }

      @media (max-height: 420px) {
        height: 210px !important;
      }
      @media (max-height: 330px) {
        height: 190px !important;
      }
      // responsive loaded end------------------
    }
    // animation card end------------------

    // responsive position-------------------------
    @media (max-height: 690px) {
      position: relative;
      bottom: 50px;
    }

    @media (max-height: 580px) {
      bottom: 70px;
    }
    @media (max-height: 360px) {
      bottom: 55px;
    }
    // reponsive position end-------------------------

    .presentation {
      .presentationText {
        transform: translateX(-550px);


        // let appear "GUSTAVE" or the first H1
        &:nth-child(1) {
          transition: transform 0.5s ease-in-out 500ms;
        }
        
        // let appear "PLOIX" or the seccond H1
        &:nth-child(2) {
          transition: transform 0.5s ease-in-out 1000ms;
        }

        // let appear "dev front" or the p
        &:nth-child(3) {
          transition: transform 0.5s ease-in-out 1500ms;
        }
        

        // affects the two H1
        &:nth-child(1), &:nth-child(2) {

          color: $textColor;
          font-family: $font;
          font-size: 122px;
          font-weight: 100;

          span {
            font-weight: 300;
            color: $spanBarColor;
          }

          // responsive h1 ---------------------------
          // width
          @media (max-width: 590px) {
            font-size: 100px;
          }

          @media (max-width: 430px) {
            font-size: 80px;
          }

          // height
          @media (max-height: 530px) {
            font-size: 100px;
          }
          @media (max-height: 475px) {
            font-size: 80px;
          }
          @media (max-height: 420px) {
            font-size: 70px;
          }
          // responsive h1 end------------------------
        }


        // affects the p
        &:nth-child(3) {
          color: $spanBarColor;
          font-family: $font;
          font-weight: 100;
          font-size: 30px;
          margin-left: 10px;

          span {
            font-weight: 300;
            color: $spanBarColor;
          }

          // responsive p -----------------------
          @media (max-width: 590px) {
            font-size: 20px;
          }
          // reponsive p end ---------------------
        }

        // animation ----------------------------
        &.appear {
          transform: translateX(0px);
        }
        // animation end ------------------------
      }
    }
  }
}

.rond {
  position: absolute;
  bottom: 100px;

  width: 100px;
  height: 100px;

  // border: 1px solid darken($bgColor: 0);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  background-color: $bgColor;

  transition: background-color 0.3s ease-in-out;

  p {
    // < btn
    color: $bgColor;
    font-size: 1.2em;
    font-family: $font;
    transition: color 0.3s ease-in-out;

    // responsive------------------

    @media (max-width: 440px) {
      font-size: 1em;
    }
    @media (max-height: 520px) {
      font-size: 1em;
    }
    // responsive end--------------
  }

  // responsive btn principal-----------------------------------
  @media (max-height: 835px) {
    bottom: 50px;
  }

  @media (max-width: 440px) {
    width: 75px;
    height: 75px;
  }

  // height
  @media (max-height: 520px) {
    width: 75px;
    height: 75px;
    bottom: 25px;
  }
  // responsive btn principal end -------------------------------

  // apparition to the page-----------------------------------

  &.comeUp {
    background-color: darken($bgColor, 5%);

    &:hover {
      //btn principal
      background-color: $btnColor;

      & > p {
        color: $bgColor;
      }
    }
  }

  // apparition to the page end-------------------------------

  // page transition ------------------------------
  &.transition {
    background-color: $btnColor;

    bottom: 100px;

    animation: forwards position 0.2s ease-in-out,
      forwards width 0.5s ease-in-out 200ms,
      height forwards 1s ease-in-out 700ms;

    p {
      color: $btnColor;
    }

    &:hover > p {
      color: $btnColor;
    }
  }

  @keyframes position {
    from {
    }
    to {
      bottom: -20px;
    }
  }

  @keyframes width {
    from {
    }
    to {
      width: 200%;
      bottom: -50px;
    }
  }

  @keyframes height {
    from {
      height: 100px;
    }
    to {
      bottom: -300px;
      height: 200vh;
    }
  }
  // page transition end -----------------
}
