*,
::after,
::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  background-color: #e6ebe0;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

main .appearCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-left: 5px solid #053c5e;
  overflow: hidden;
  height: 0px;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}

main .appearCard.loaded {
  height: 340px !important;
}

@media (max-width: 590px) {
  main .appearCard.loaded {
    height: 275px !important;
  }
}

@media (max-width: 430px) {
  main .appearCard.loaded {
    height: 230px !important;
  }
}

@media (max-height: 530px) {
  main .appearCard.loaded {
    height: 280px !important;
  }
}

@media (max-height: 475px) {
  main .appearCard.loaded {
    height: 250px !important;
  }
}

@media (max-height: 420px) {
  main .appearCard.loaded {
    height: 210px !important;
  }
}

@media (max-height: 330px) {
  main .appearCard.loaded {
    height: 190px !important;
  }
}

@media (max-height: 690px) {
  main .appearCard {
    position: relative;
    bottom: 50px;
  }
}

@media (max-height: 580px) {
  main .appearCard {
    bottom: 70px;
  }
}

@media (max-height: 360px) {
  main .appearCard {
    bottom: 55px;
  }
}

main .appearCard .presentation .presentationText {
  -webkit-transform: translateX(-550px);
          transform: translateX(-550px);
}

main .appearCard .presentation .presentationText:nth-child(1) {
  -webkit-transition: -webkit-transform 0.5s ease-in-out 500ms;
  transition: -webkit-transform 0.5s ease-in-out 500ms;
  transition: transform 0.5s ease-in-out 500ms;
  transition: transform 0.5s ease-in-out 500ms, -webkit-transform 0.5s ease-in-out 500ms;
}

main .appearCard .presentation .presentationText:nth-child(2) {
  -webkit-transition: -webkit-transform 0.5s ease-in-out 1000ms;
  transition: -webkit-transform 0.5s ease-in-out 1000ms;
  transition: transform 0.5s ease-in-out 1000ms;
  transition: transform 0.5s ease-in-out 1000ms, -webkit-transform 0.5s ease-in-out 1000ms;
}

main .appearCard .presentation .presentationText:nth-child(3) {
  -webkit-transition: -webkit-transform 0.5s ease-in-out 1500ms;
  transition: -webkit-transform 0.5s ease-in-out 1500ms;
  transition: transform 0.5s ease-in-out 1500ms;
  transition: transform 0.5s ease-in-out 1500ms, -webkit-transform 0.5s ease-in-out 1500ms;
}

main .appearCard .presentation .presentationText:nth-child(1), main .appearCard .presentation .presentationText:nth-child(2) {
  color: #5e0b15;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 122px;
  font-weight: 100;
}

main .appearCard .presentation .presentationText:nth-child(1) span, main .appearCard .presentation .presentationText:nth-child(2) span {
  font-weight: 300;
  color: #053c5e;
}

@media (max-width: 590px) {
  main .appearCard .presentation .presentationText:nth-child(1), main .appearCard .presentation .presentationText:nth-child(2) {
    font-size: 100px;
  }
}

@media (max-width: 430px) {
  main .appearCard .presentation .presentationText:nth-child(1), main .appearCard .presentation .presentationText:nth-child(2) {
    font-size: 80px;
  }
}

@media (max-height: 530px) {
  main .appearCard .presentation .presentationText:nth-child(1), main .appearCard .presentation .presentationText:nth-child(2) {
    font-size: 100px;
  }
}

@media (max-height: 475px) {
  main .appearCard .presentation .presentationText:nth-child(1), main .appearCard .presentation .presentationText:nth-child(2) {
    font-size: 80px;
  }
}

@media (max-height: 420px) {
  main .appearCard .presentation .presentationText:nth-child(1), main .appearCard .presentation .presentationText:nth-child(2) {
    font-size: 70px;
  }
}

main .appearCard .presentation .presentationText:nth-child(3) {
  color: #053c5e;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 100;
  font-size: 30px;
  margin-left: 10px;
}

main .appearCard .presentation .presentationText:nth-child(3) span {
  font-weight: 300;
  color: #053c5e;
}

@media (max-width: 590px) {
  main .appearCard .presentation .presentationText:nth-child(3) {
    font-size: 20px;
  }
}

main .appearCard .presentation .presentationText.appear {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.rond {
  position: absolute;
  bottom: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: #e6ebe0;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.rond p {
  color: #e6ebe0;
  font-size: 1.2em;
  font-family: "Cabinet Grotesk", sans-serif;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 440px) {
  .rond p {
    font-size: 1em;
  }
}

@media (max-height: 520px) {
  .rond p {
    font-size: 1em;
  }
}

@media (max-height: 835px) {
  .rond {
    bottom: 50px;
  }
}

@media (max-width: 440px) {
  .rond {
    width: 75px;
    height: 75px;
  }
}

@media (max-height: 520px) {
  .rond {
    width: 75px;
    height: 75px;
    bottom: 25px;
  }
}

.rond.comeUp {
  background-color: #dae1d1;
}

.rond.comeUp:hover {
  background-color: #f78764;
}

.rond.comeUp:hover > p {
  color: #5e0b15;
}

.rond.transition {
  background-color: #f78764;
  bottom: 100px;
  -webkit-animation: forwards position 0.2s ease-in-out, forwards width 0.5s ease-in-out 200ms, height forwards 1s ease-in-out 700ms;
          animation: forwards position 0.2s ease-in-out, forwards width 0.5s ease-in-out 200ms, height forwards 1s ease-in-out 700ms;
}

.rond.transition p {
  color: #f78764;
}

.rond.transition:hover > p {
  color: #f78764;
}

@-webkit-keyframes position {
  from {
  }
  to {
    bottom: -20px;
  }
}

@keyframes position {
  from {
  }
  to {
    bottom: -20px;
  }
}

@-webkit-keyframes width {
  from {
  }
  to {
    width: 200%;
    bottom: -50px;
  }
}

@keyframes width {
  from {
  }
  to {
    width: 200%;
    bottom: -50px;
  }
}

@-webkit-keyframes height {
  from {
    height: 100px;
  }
  to {
    bottom: -300px;
    height: 200vh;
  }
}

@keyframes height {
  from {
    height: 100px;
  }
  to {
    bottom: -300px;
    height: 200vh;
  }
}
/*# sourceMappingURL=landing.css.map */